<div id="conteudo">
    <div class="conteudo-inner">
        <div class="conteudo-wrapper">
          <div class="conteudo-titleSection">
			  <img src="/images/download.png">
              <h1 class="conteudo-title">About Us</h1>
			  <h3>DEVOLOPED BY </h3>
			  <p><i><b> SAI CHARAN REDDY</b></i></p>
			  <p><i><b> HARI KISHAN REDDY</b></i></p>
			  <p><i><b> VAJJALA VEERA KARTHIK</b></i></p>
			  
			  <p> For any further queries please contact </p>
			  <p> +91 80 26721983 / 26722108 </p>
			  <a href="https://www.pes.edu/contact/" > CONTACT US @PESU </a>
			  
          </div>
        </div>
    </div>
</div>
